.gitignore
.vscode/settings.json
model_processing/available_modificaction
model_processing/next_tests
example.json
model_1.json
model_2.json
output.json
model.json
model_processing/available_modification/converted.json
model_processing/available_modification/project.json
model_processing/available_modification/test.json
model_processing/available_modification/tree_creator.py
model_processing/available_modification/testssss.py
model_processing/available_modification/convert.py
model_processing/__pycache__/analyzer.cpython-312.pyc
model_processing/__pycache__/analyzers.cpython-312.pyc
model_processing/__pycache__/__init__.cpython-312.pyc
model_processing/__pycache__/comparator.cpython-312.pyc
model_processing/__pycache__/models.cpython-312.pyc
model_processing/__pycache__/registry.cpython-312.pyc
model_processing/__pycache__/tree_builder.cpython-312.pyc
tree_analyzer/__pycache__/__init__.cpython-312.pyc
tree_analyzer/__pycache__/multi_root_analyzer_optimazed.cpython-312.pyc
tree_analyzer/__pycache__/multi_root_analyzer.cpython-312.pyc
tree_analyzer/__pycache__/__init__.cpython-312.pyc
tree_analyzer/__pycache__/__init__.cpython-312.pyc
tree_analyzer/__pycache__/tree_construction.cpython-312.pyc
model_processing/__pycache__/utils.cpython-312.pyc
tree_analyzer/__pycache__/__init__.cpython-312.pyc
tree_analyzer/__pycache__/tree_construction.cpython-312.pyc
tree_analyzer/__pycache__/visualize_forest_connection.cpython-312.pyc
tree_analyzer/__pycache__/tree_construction.cpython-312.pyc
tree_analyzer/__pycache__/__init__.cpython-312.pyc
tree_analyzer/__pycache__/__init__.cpython-312.pyc
graph.json
res/output_graph.json
.gitignore
